@page
@model BarManagement.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 mb-5">BAR</h1>
</div>
<div>
    @if (TempData["error"] != null)
    {
        <p style="color: maroon; font-style: italic; margin-left: 30px; font-size: 20px">@TempData["error"]</p>
    }
</div>
<div>
    <form method="post">
    </form>
    <ul style="list-style-type:none;">
        <li>
            <div class="row">
                <img src="~/Assets/alcool.png" width="64" height="64" />
                <h1 class="mb-5">ALCOOL</h1>
            </div>
            @foreach (var alcool in Model.alcoolList)
            {
                <form method="post" class="form-inline ml-4">
                    <div class="form-group">
                        <input class="form-control" asp-for="FormUnitSold.NAME" value=@alcool.Name readonly />
                        <input placeholder="Quantité" class="form-control" size="5" asp-for="FormUnitSold.QUANTITY">
                        <button asp-page-handler="UnitSold" type="submit" class="btn btn-success">Vendu</button>
                    </div>
                </form>
            }
        </li>
        <hr />
        <li>
            <div class="row">
                <img src="~/Assets/cocktail.png" width="64" height="64" />
                <h1 class="mb-5">COCKTAIL</h1>
            </div>
            @foreach (var cocktail in Model.cocktailList)
            {
                <form method="post" class="form-inline ml-4">
                    <div class="form-group">
                        <input class="form-control" asp-for="FormUnitSold.NAME" value=@cocktail.Name readonly />
                        <input placeholder="Quantité" class="form-control" size="5" asp-for="FormUnitSold.QUANTITY">
                        <button asp-page-handler="UnitSold" type="submit" class="btn btn-success">Vendu</button>
                    </div>
                </form>
            }
        </li>
        <hr />
        <li>
            <div class="row">
                <img src="~/Assets/cocktail-sans-alcool.png" width="64" height="64" />
                <h1 class="mb-5">COCKTAIL SANS ALCOOL</h1>
            </div>
            @foreach (var virginCocktail in Model.virginCocktailList)
            {
                <form method="post" class="form-inline ml-4">
                    <div class="form-group">
                        <input class="form-control" asp-for="FormUnitSold.NAME" value=@virginCocktail.Name readonly />
                        <input class="form-control" placeholder="Quantité" size="5" asp-for="FormUnitSold.QUANTITY">
                        <button asp-page-handler="UnitSold" type="submit" class="btn btn-success">Vendu</button>
                    </div>
                </form>
            }
        </li>
        <hr />
        <li>
            <div class="row">
                <img src="~/Assets/soft.png" width="64" height="64" />
                <h1 class="mb-5">SOFT</h1>
            </div>
            @foreach (var soft in Model.softList)
            {
                <form method="post" class="form-inline ml-4">
                    <div class="form-group">
                        <input class="form-control" asp-for="FormUnitSold.NAME" value=@soft.Name readonly />
                        <input placeholder="Quantité" class="form-control" size="5" asp-for="FormUnitSold.QUANTITY">
                        <button asp-page-handler="UnitSold" type="submit" class="btn btn-success">Vendu</button>
                    </div>
                </form>
            }
        </li>
    </ul>

</div>